.build {
    display: flex;
    color: #fff;
    font-family: verdana;
    align-items: center;
    padding: auto;
}

.buil__image {
    width: 200px;
}

.build__title {
    display: block;
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    border-right: 2px solid;
    width: 21ch;
    
    animation: typing 2s steps(21), blink .5s infinite step-end alternate;
    overflow:hidden;
}

@keyframes typing {
    from { width: 0}
}
    
@keyframes blink {
    50% { border-color: transparent}
}